#logo{
    z-index: 0;
}

#link-view{
    position:absolute;    
}
#qhTitle{
    margin-top:1.5%;
    width:43%;
}
#qhsample{
    width:40%;
    margin-left:15%;
}
#main{
    margin-top:-5%;
}
#ring-view{
    height:1320px;
    width:1710px;
}
#tri{
    height:1440px;
    width:1440px;
    margin:-60px 0 0 120px;
    position:absolute;
    z-index: 1;
}
#zoom{
    position:absolute;
    z-index: 1;
    width:1.5%;
    margin-top:50%;
    margin-left:-2%;
}

#ringtu{
    height:1320px;
    width:1320px;
    margin:0 0 0 180px;
    position:absolute;
    z-index: 0;
}

#ringpic{
    height:1320px;
    width:1320px;
}

#seallink{
    position:absolute;
    margin:0 0 0 180px;
    z-index: 2;
}
#origin{
    width:1710px;
    height:165px;
    z-index: 0;
}
#origintu{
    position:absolute;
    width:1665px;
    margin:45px 0 0 15px;
    z-index: 0;

}
#rotate-view{
    position:absolute;
    width:1665px;
    height:135px;
    margin:24px 0 0 15px;
    z-index: 1;

}

#wordcloud{
    width:1320px;
    height:720px;
    position:absolute;
    z-index: 2;
    margin:620px 0 0 405px;
}

#zoom-view{
    width:2400px;
    height:1650px;
    position:absolute;
    z-index: 3;
    pointer-events: none;
    /* margin:px 0 0 0; */
}
