.label-container{
    height:100%;
    width:100%;
}

::-webkit-scrollbar{
	width:12px;
    background:rgba(144, 147, 153,0.3);
}

/*滑块*/
::-webkit-scrollbar-thumb{
	width:10px;
	background:rgba(144, 147, 153,1);
}

/*滚槽*/
::-webkit-scrollbar-track-piece{
	width:10px
}