
.seal-link-container{
    height:1320px;
    width:1320px;
}
#word-container{
    position:absolute;
    height:100%;
    width:100%;
    pointer-events: none; 
}
#seal-link-svg{
    position:absolute;
    height:100%;
    width:100%;
    pointer-events: none; 
}
#seal-link-svg rect{
    pointer-events: all; 
}

#seal-link-svg circle{
    pointer-events: all; 
}

.blocks{
    position:absolute;
    z-index: -1;

}
.link{
    position:absolute;
    z-index: 1;

}

.linkword{
    stroke-dasharray: 3 3;
}