
.seal-link-container{
    height:1320px;
    width:1320px;
}
#word-container{
    position:absolute;
    height:100%;
    width:100%;
    pointer-events: none; 
}
#seal-link-svg{
    position:absolute;
    height:100%;
    width:100%;
    pointer-events: none; 
}
#seal-link-svg rect{
    pointer-events: all; 
}

.linkword{
    stroke-dasharray: 3 3;
}