#none-container{
    width:100%;
    height:100%;
}
#none-svg{
    position:absolute;
    width:100%;
    height:100%;
}
#uncertainty{
    position:absolute;
    margin-left:10%;
    margin-top:5%;
    width:80%;
    height: 10%;
}