.B-container{
    height:100%;
    width:100%;
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
#divide{
    margin-left:45px;
    margin-top: 90px;
    height: 80%;
    width:0.19%;
}
#dividetu{
    height:100%;
    width:100%;
}

#ring-view-container{
    width:57%;
    margin-left:24px;
    margin-top: 30px;
}
#seal-container{
    width:11.5%;
    height:94%;
    margin-left:15px;
    margin-top: 60px;
}
#lable-view-container{
    width:27.5%;
    height:94%;
    margin-left:15px;
    margin-top: 60px;
}