.B-container{
    height:100%;
    width:100%;
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
#divide{
    margin-left:45px;
    margin-top: 1%;
    height: 97%;
    width:0.3%;
}
#dividetu{
    height:100%;
    width:100%;
}

#ring-view-container{
    height:100%;
    width:57%;
    margin-left:24px;
}
#seal-container{
    margin-top: 5%;
    width:11.5%;
    height:94%;
    margin-left:15px;
    margin-top: 60px;
}
#lable-view-container{
    width:27.5%;
    height:94%;
    margin-left:15px;
    margin-top: 60px;
}