.A-container{
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
#searchbox{
    position: relative;
    width: 500px;
    height:50px;
}
#pics{
    position: relative;
    width: 480px;
    height:500px;
}