.container{
    height:100%;
    width:100%;
    line-height: 2; 
    direction: ltr;   
    font-size: 36px;
    font-family:'宋体';
    letter-spacing: 6px;
    overflow-y: scroll;
}

.Location{
    background: rgb(100, 159, 219, 0.6); 
    padding: 2px 2px; 
    margin: 0 2px;    
    border-radius: 2.31454px;
}
.LocationName{
    background: rgb(100, 159, 219, 0.6); 
    padding: 2px 2px; 
    margin: 0 2px;    
    border-radius: 2.31454px;
}

.PersonName{
    background: rgb(106, 182, 180,0.6); 
    padding: 2px 2px; 
    margin: 0 2px;     
    border-radius: 2.31454px;
}
.Person{
    background: rgb(106, 182, 180,0.6); 
    padding: 2px 2px; 
    margin: 0 2px; 
    border-radius: 2.31454px;    
}


.Thing{
    background: rgb(182, 195, 66, 0.6); 
    padding: 2px 2px; 
    margin: 0 2px;    
    border-radius: 2.31454px;
}
.Time{
    background: rgb(228, 188, 71, 0.6); 
    padding: 2px 2px; 
    margin: 0 2px;    
    border-radius: 2.31454px;
}

.info{
    position:absolute;
}


::-webkit-scrollbar{
	width:12px;
    background:rgba(144, 147, 153,0.3);
}

/*滑块*/
::-webkit-scrollbar-thumb{
	width:10px;
	background:rgba(144, 147, 153,1);
}

/*滚槽*/
::-webkit-scrollbar-track-piece{
	width:10px
}