#similar-container{
    width:100%;
    height:100%;
}
#year-similar-svg{
    width:100%;
    height:100%;
}
#button-div{
    position:absolute;
    margin-left: 90%;
    margin-top:-3%;
}
.scroll-line{
    stroke-dasharray: 3 2;
}