#axis-container{    
    width:100%;
    height:100%;
}
.main-axis{
    position:absolute;
    width:87%;
    height:100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
#long{
    width:150%;
    height:100%;
    position:absolute;
}
#tool{
    position:absolute;
    margin-left:1%;
    margin-top:1%;
    width:90%;
    height:23.7%;
}
#tool-svg{
    width:100%;
    height:100%;
}
#year-similar{
    position:absolute;
    margin-left:1%;
    margin-top:1%;
    width:90%;
    height:23.7%;
}
#divide3{
    position:absolute;
    margin-top: 1.5%;
    width:0.8%;
    height:95%;
    margin-left:87.2%;
}
#dividetu3{
    width:100%;
    height:100%;
}
#none-display{
    position:absolute;
    width:12%;
    height:100%;
    margin-left:88%;
}
#axis{
    position:absolute;
    width:90%;
    height:6%;
    margin-left:1%;
    margin-top:5.5%;
    background-color: rgba(0,0,0,0.1);
}
#year-axis-svg{
    width:100%;
    height:100%;
}

#person-year{
    position:absolute;
    margin-top:8%;
    margin-left:1%;
    width:90%;
    height:90%;
}
.scroll-line{
    stroke-dasharray: 3 2;
}

#button-div{
    position:absolute;
    width:5%;
    height:5%;
    margin-left: 80%;
    margin-top:2%;
}
.ant-tooltip { 
    font-size: 40px;
}
.ant-modal-content {
    height: 760px;
    width: 1150px;

}

.my-modal {
    top: 1800px;
    left: 1800px;
  }

#add-event{
    position:absolute;    
    margin-left: 85.5%;
    margin-top:9%;
}
#plus{
    position:absolute;
    margin-left: 85.5%;
    margin-top:9%;
}

#biosample{
    position:absolute;
    margin-left:55%;
    margin-top:9%;
    height:4%;
    width:30%;
}
#bioTitle{
    position:absolute;
    margin-left:-8.1%;
    margin-top:9%;
    height:4.3%;
    width:30%;
}
#simiTitle{
    position:absolute;
    margin-left:-8.5%;
    margin-top:0.5%;
    height:4.3%;
    width:30%;
}

.main-axis::-webkit-scrollbar {
    width: 100%;
    height: 10px;
  }
 