#axis-container{
    
    width:100%;
    height:100%;
}
#year-similar{
    position:absolute;
    margin-left:1%;
    width:87%;
    height:23%;
}
#none-display{
    position:absolute;
    width:12%;
    height:100%;
    margin-left:88%;
}
#axis{
    position:absolute;
    width:87%;
    height:7%;
    margin-left:1%;
    margin-top:6%;
}

#axistu{
   width:100%;
}
#year-layer-svg{
    position:absolute;
    margin-top:7%;
    margin-left:1%;
    width:87%;
    height:100%;
}
.scroll-line{
    stroke-dasharray: 3 2;
}