@font-face {
    font-family: "微软繁楷体";
    src: url("../../../assets/font/微软繁楷体.ttf");
}
#word-cloud-container{
    width:870px;
    height:540px;    
    position: absolute;
}

#person-container{
    width: 47%;
    height:38%;
    position: absolute;
    margin-left:8%;
    margin-top:19%;
}
#bkperson{
    width:100%;
    height:100%;
    position: absolute;   
}
#person-cloud{
    width:120%;
    height: 120%;
    margin-top:-5%;
    margin-left:-10%;
    position: absolute;   
}


#location-container{
    height:50%;
    width:50%;
    position: absolute;
    margin-left:43%;
    margin-top:23%;
}
#bklocation{
    height:100%;
    width:100%;
    position: absolute;
}
#location-cloud{
    width:120%;
    height: 120%;
    margin-top:-5%;
    margin-left:-10%;
    position: absolute;   
}


#thing-container{
    width: 46%;   
    height:50%;
    margin-top:-5%;
    position: absolute;
}
#bkthing{
    height:100%;
    width:100%;
    position: absolute;
}
#thing-cloud{
    width:120%;
    height: 120%;
    margin-top:-5%;
    margin-left:-10%;
    position: absolute;   
}


#time-container{   
    width: 53%;  
    height:50%;  
    position: absolute;
    margin-left:47%;
    margin-top:-3%;
}
#bktime{
    height:100%;
    width:100%;
    position: absolute;
}
#time-cloud{
    width:120%;
    height: 120%;
    margin-top:-5%;
    margin-left:-10%;
    position: absolute;   
}